@import url(https://fonts.googleapis.com/css?family=Roboto:100);
html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 1em 2em;
  
  background: #222;
  color: #aaa
}
  p {
    font-size: 15pt;
    line-height: 150%;
  }
h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  color: #888;
  font-size: 2em;
}
h3 {
  color: #888;
  font-size: 2em;
  padding-top: 25px;
  padding-bottom: 25px;

}
.btn {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 1px;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  margin-bottom: 1rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    font-size: 0.9rem;
    padding: 0.6rem 0.9rem;
  }
